/.project
/GBTD_GBMB.suo

/GBTD/bin
/GBTD/obj

/GBLib/bin
/GBLib/obj

/GBRFile/bin
/GBRFile/obj

/GBRInfoSniffer/bin
/GBRInfoSniffer/obj

/GBMFile/bin
/GBMFile/obj

/GBMInfoSniffer/bin
/GBMInfoSniffer/obj

/GBMB/bin
/GBMB/obj

/GBAutoUpdate/bin
/GBAutoUpdate/obj

/GBAutoUpdateSniffer/bin
/GBAutoUpdateSniffer/obj